/* CSS Document compiled by www.globexdesigns.com*/

html
{
    overflow-x: auto; /* fixes MSIE scrollbar bug DO NOT REMOVE, has no effect in Mozilla, or Opera */
}

body
{ 
    background: #CCC;
    margin: 0px;
    padding: 0px; /* required for Opera to have 0 margin */
    line-height: 135%;
}

a:link,
a:visited,
a:active
{
    background: transparent;
    color: #34498B;
    text-decoration: none;
}

a:hover
{
    background: transparent;
    color: navy;
    text-decoration: underline;
}

table.header
{
    background: #000 url(images/bg.gif);
    width: 640px;
    border: 1px solid #000;
    padding: 0px;
    margin-top: 20px;
}

table.body
{
    background: #FFF;
    width: 640px;
    border: 1px solid #000;
    border-top: 0px;
    padding: 0px;
    vertical-align: top;
}

td.category
{
    background: #DDD url(images/tile_cat.gif);
    border: 0px;
    padding: 0px;
    padding-left: 10px;
    height: 24px;
    color: #333;
    font-family: Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
    font-size: 12px;
    font-weight: bold;
}

td.categoryend
{
    background: #DDD url(images/tile_cat.gif);
    border: 0px;
    padding: 0px;
    height: 24px;
    color: #333;
    font-family: Verdana, Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
    font-size: 9px;
    text-align: center;
}

td.content
{
    background: #FFF;
    border: 0px;
    padding: 0px;
    padding-top: 8px;
    color: #000;
    font-family: Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
    font-size: 12px;
}

.code
{
    font-family:    monospace;
    font-size:      10px;
    background:     #EEE;
    padding-left:   50px;
}

.title
{
    font-size:      30px;
    color:          #DDD;
    padding-left:   10px;
}
